div.conteiner {
    background-color: lightsalmon;
    display: flex;
    margin: 20px;
    flex-direction: ;
}

div.item {    
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}