div.conteiner {
    background-color: lightsalmon;
    display: flex;
    height: 100px;
    flex-flow: column wrap; /*è um shorthand*/
}

div.item {    
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex: auto; /*só funciona no filho e é um shorthand*/
}