div.conteiner {
    background-color: lightsalmon;
    display: flex;
    margin: 20px;
}

div.item {    
    background-color: lightskyblue;
    border: 1px solid black;
    flex: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

figure {
    text-align: center;
    margin: 10px; ;
    padding: 20px;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-items: center;
}